{% extends 'pages/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<h2 style="text-align:center">User Profile Card</h2>

<div class="card">
  {% if student.image %}
              <img src="{{student.image.crop.50x50}}">
  {% endif %}
  <h1>{{student.name}}</h1>
  <p class="title"></p>
  <form method="POST">
    {% csrf_token %}
  <p>Mark 1 :<input class="form-control text-center" type="text" value="{{student.mark1}}" name="m1"></p>
  <p>Mark 2 :<input class="form-control text-center"  type="text" value="{{student.mark2}}" name="m2"></p>
  <p>Mark 3 :<input class="form-control text-center"  type="text" value="{{student.mark3}}" name="m3"></p>
  <p><input class="btn btn-success"  type="submit" value="Save" ></p>
  </form>
  <p><button>{{student.phone}}</button></p>
  <p class="text-success">{{success}}</p>
</div>

{% endblock %}  
